.loader {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: block;
	margin: 15px auto;
	position: relative;
	background: #fff;
	box-shadow: -15px 0 #fff, 15px 0 #fff;
	box-sizing: border-box;
	animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
	33% {
		background: #fff;
		box-shadow: -15px 0 #001a1a, 15px 0 #fff;
	}
	66% {
		background: #001a1a;
		box-shadow: -15px 0 #fff, 15px 0 #fff;
	}
	150% {
		background: #fff;
		box-shadow: -15px 0 #fff, 15px 0 #001a1a;
	}
}
